:root {
	--main-serif: "Bree Serif", serif;
	--main-sans: "Roboto", sans-serif;
	--text-color: #1C1C1C;
}

body {
	font-family: "Roboto", sans-serif;
	padding:0px;
	margin:0px;
	background-color: #FDFDED;
}

.largefocus {
	font-family: var(--main-sans);
	font-size:30px;
}

.large {
	font-family: var(--main-sans);
	font-size:18px;
}

hr {
    clear:both;
}

/**
 * The main page search bar.
 */
#searchbar input {
	font-family: var(--main-sans);
	font-size:16px;
}

#btn_search {
    font-family: var(--main-sans);
}

/**
 * The vertically-compressed search bar at the top.
 */
#minisearchbar {
	overflow-x: visible;
	background-color:#F0F0F0;
	padding:0px;
	margin-bottom:-10px;
}

#minisearchbar #logo {
	height: 0px;
	padding-top: 15px;
}

#minisearchbar #inputbox {
	height: 50px;
	padding-top: 50px;
}

#minisearchbar input {
	font-family: var(--main-sans);
	font-size:16px;
}

/**
 * The reusable component at the top right,
 * consisting of the user's account name plus various icons.
 */
#controlpanel {
	position:absolute; 
	right:10px; 
	top:10px;
	height:80px;
	
}

#controlpanel #cp_div_username {
	margin: 5px;
}

#controlpanel #username {
	font-family: var(--main-sans);
}

#controlpanel #cp_div_buttons {
	display: inline-block;
}

#controlpanel #cp_div_buttons * {
	float: left;
	margin: 4px;
}

/**
 * Listing of search results.
 */
.resultlisting {
	margin-top:30px;
}


/**
 * A single search item.
 */
.searchresult, .summarycontainer {
	border-radius:5px;
	border: 1px solid gray;
	background: whitesmoke;
	width: 800px;
	height: 100px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:20px;
	box-shadow: 2px 2px 1px gainsboro;
}

.searchresult .leftcol {
	width:74%;
	height:100%;
	float:left;
}

.searchresult .rightcol {
	width:25%;
	height:100%;
	float:right;
}

.searchresult .name {
	height:35%;
	margin-left:10px;
	margin-top:8px;
}

.searchresult .name span {
	font-family: var(--main-sans);
	font-size:18px;
}

.searchresult .name a {
	font-family: var(--main-sans);
	font-size:18px;
	text-decoration:none;
}

.searchresult .description {
	height:55%;
	margin-left:10px;
	color: var(--text-color);
	/*background:gainsboro;*/
}

.searchresult .description span {
	font-family: var(--main-sans);
	font-size:14px;
}

.searchresult .buttonpane {
	height:45%;
	padding:0px;
	margin:0px;
	margin-bottom:2.5%;
	
}

.searchresult .buttonpane .button {
	float:right;
	margin-top:10px;
	margin-right:20px;
}

.searchresult .buttonpane .scorewidget {
	float:right;
	margin-top:8px;
	margin-right:30px;
}

.searchresult .buttonpane .scorewidget .scorebuttons {
	margin-left:5px;
	float:right;
}

.searchresult .buttonpane .scorewidget .scorebuttons div {
	width:100%
}

.searchresult .buttonpane .scorewidget .score {
	float:right;
	margin-top:10px;
}

.searchresult .buttonpane .scorewidget .score span{
	font-family: "Roboto", sans-serif;
	font-size:16px;
}

.searchresult .rating {
	height:45%;
	text-align:center;
	margin-top:12px;
	margin-left:auto;
	margin-right:auto;
	/*background:gainsboro;*/
}

.searchresult .rating span {
	font-family: var(--main-sans);
	font-size: 16px;
	color: var(--text-color);
}


/**
 * Summary page.
 */ 
.summary_page {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
}

.summary_page .summarycontainer {
	height:auto;
	padding:30px;
}

.summary_page .resourcetitle {
	margin-top:50px;
	margin-bottom:15px;
	text-align:center;
}

.summary_page .resource_header {
	float: left; 
	padding-left:5px;
	padding-right:10px;
}

.summary_page .resource_header span {
	font-family: var(--main-sans);
}

.summary_page .ratingpanel {
	padding-top:15px;
	padding-bottom:15px;
}

.summary_page .scorepanel {
	padding-top:15px;
	padding-bottom:5px;
}

.summary_page .scorepanel div {
	float:left;
}

.summary_page .heartpanel, .extlinkpanel {
	padding-top:8px;
	padding-bottom:8px;
}



.summary_page .scorepanel .scorebuttons {
	margin-top:-8px;
	margin-left:8px;
	margin-right:-8px;
}

.summary_page .scorepanel .scorebuttons div {
	width:100%;
}

.summary_page * {
	font-family: var(--main-sans);
}

.summary_page .review {
	display:inline-block;
	width:100%;
}

.summary_page .review * {
	font-size: 15px;
}

.summary_page .review .authordata {
	color:gray;
}

.resource_tags {
	text-align: right;
	font-family: var(--main-sans);
	float:left;
}

.summary_page .rightcol {
	float:right;
}
.summary_page .review_image {
    float:left;
    max-width:16%;
}
.summary_page .review_text {
    float:left;
    max-width:83%;
    word-wrap: break-word;
}

.add_review_button {
	text-align: center;
}