:root {
	--main-serif: "Bree Serif", serif;
	--main-sans: "Roboto", sans-serif;
}

body {
	font-family: var(--main-serif);
}

.largefocus {
	font-family: var(--main-sans);
	font-size:22px;
}


/**
 * The main page search bar.
 */
#searchbar input {
	font-family: var(--main-sans);
	font-size:16px;
}

/**
 * The vertically-compressed search bar at the top.
 */
#minisearchbar {
	overflow-x: visible;
	background-color:#F0F0F0;
	margin-top:-10px;
	margin-left:-50px;
	margin-right:-50px;
	margin-bottom:-10px;
}

#minisearchbar #logo {
	height: 0px;
	padding-top: 15px;
}

#minisearchbar #inputbox {
	height: 50px;
	padding-top: 50px;
}

#minisearchbar input {
	font-family: var(--main-sans);
	font-size:16px;
}

/**
 * The reusable component at the top right,
 * consisting of the user's account name plus various icons.
 */
#controlpanel {
	position:fixed; 
	right:10px; 
	top:10px;
	height:80px;
	
}

#controlpanel #cp_div_username {
	margin: 5px;
}

#controlpanel #username {
	font-family: var(--main-sans);
}

#controlpanel #cp_div_buttons {
	display: inline-block;
}

#controlpanel #cp_div_buttons span {
	float: left;
	margin: 5px;
}